Copyright 2018 - Corp

<!-- https://www.leeboonstra.com/developer/github-error-permission-to-userrepo-denied-to-userother-repo/
control panel > user accounts > credential manager > Windows credentials > Generic credentials -->
<!-- https://www.grafikart.fr/formations/git -->

<!-- You do not pass {{id}} to your link yet. Your request to backend includes "/${id}" part. To resolve variable in string in Typescript you should wrap your string with ticks to utilize interpolation, i.e.

return this.http.get(`api/leagues/${id}`).map(res => res.json());


https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals-->
