



<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Persons list</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Occupation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of data">
            <td>{{p.firstName}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.age}}</td>
            <td>{{p.occupation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>






