<form [formGroup]="dataFilesForm">
  <div class="form-group row">
    <div class="col-sm-6">
      <input type="text" class="form-control" formControlName="path" placeholder="Provide your datafiles path"
        [(ngModel)]="providedInput">
    </div>
  </div>
  <button type="button" class="btn btn-success btn-s" (click)="sendPath()" [disabled]="isInvalid()">
    Provide path
  </button>
</form>
<div *ngIf="statusCode; else processing">
  <div *ngIf="statusCode === 201" [ngClass]="'success'">
    Your files were processed successfully.
  </div>
  <div *ngIf="statusCode === 500" [ngClass]="'error'">
    An error occurred when trying to process your files.
  </div>
</div>
<ng-template #processing>
  <img *ngIf="requestProcessing" src="assets/images/loading.gif">
</ng-template>

<h3>Processed Files Details</h3>
<table mdbTable class="table table-border">
  <thead>
    <tr>
      <th>File name</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let file of files">
      <td>{{file}}</td>
    </tr>
  </tbody>
</table>